@use 'mixins' as *;




// ⬇️ MAIN TEXT STYLES ⬇️

h2 {
    font-family: var(--font-secondary);
    font-size: 2rem;
    font-weight: bold;
    line-height: 150%;
}

h3 {
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 600;
}

p {
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 400;
    line-height: 230%;
    b{
        font-weight: bold;
    }
}




// ⬇️ WIDTH / WRAPPER ⬇️

.wrapper {
    &__menu {
        margin: 0 auto;
        width: 100%;
        // width: 90%;
        // max-width: 1500px;
    }
    &__header {
        margin: 0 auto;
        width: 70%;
        max-width: 1500px;
        @include device (movil){
            width: 100%;
            padding: 0 1rem;
        }
    }
    &__default {
        margin: 0 auto;
        width: 65%;
        max-width: 1000px;
        @include device (tablet){
            width: 75%;
        }
        @include device (movil){
            width: 100%;
            padding: 0 1rem;
        }
    }
    &__biggallery {
        margin: 0 auto;
        width: 90%;
        max-width: 1200px;
        @include device (tablet){
            width: 95%;
        }
        @include device (movil){
            width: 100%;
            padding: 0 1rem;
        }
    }
    &__min {
        margin: 0 auto;
        width: 55%;
        max-width: 800px;
    }
    &__inside {
        margin: 0 auto;
        width: 85%;
        max-width: 800px;
        @include device (tablet){
            width: 90%;
        }
        @include device (movil){
            width: 100%;
        }
    }
}



// ⬇️ SPECIAL TEXT STYLES ⬇️

.caption {
    font-family: var(--font-secondary);
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
}

.button {
    font-weight: bold;
    color: var(--link);
    &:hover {
        color: var(--linkHover);
    }
}



// ⬇️ MOUSE ⬇️

.mouse {
    @media (pointer: none ) {
        display: none;
    }
    pointer-events: none;
    z-index: 6;
    position: fixed;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-top: -6px;
    margin-left: -6px;
    background-color: var(--white);
    mix-blend-mode: difference;
    transform: translateY(-30px) translateX(-30px) ;
    transition: width .4s,
                height .4s,
                margin-top .4s,
                margin-left .4s,;
    animation: opacity 0.5s ease 1;
    &.scale{
        width: 32px;
        height: 32px;
        margin-top:-16px;
        margin-left:-16px;
    }
    @media (pointer: none ) {
        display: none;
    }
    @media (hover: none ) {
        display: none;
    }
}



// ⬇️ MENU ⬇️

.menu {
    width: 100%;
    position: fixed;
    top: 0rem;
    left: 0;
    z-index: 4;
    padding: 1.5rem 0;
    @include flex (row, nowrap, center, center);
    background-color: rgba(163, 94, 94, 0);
    transition: top 1s;
    @include device (movil){
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        background-color: transparent;
    }
    &.slidedown {
        animation: slideDown 1s ease 1 ;

    }
    &.light {
        background-color: white;
        .menu {
            &__link{
                color: black;
            }
            &__svg{
                fill: black;
            }
            &__burger {
                &:before {
                    background-color: #000000;
                }
                &:after {
                    background-color: #000000;
                }
            }
        }
        @include device (movil) {
            background-color: transparent;
        }
    }
    &__name {
        display: none;
    }
    &__content {
        @include flex (row, nowrap, space-between, center);
        position: relative;
        @include device (movil){
            flex-direction: column;
        }
    }
    &__container-movil {
        width: 100%;
        @include flex (row, nowrap, space-between, center);
        position: relative;
        z-index: 4;
        // background-color: #16171b;
        @include device (movil){
            padding: 1rem 0;
        }
    }
    &__ul {
        @include flex (row, nowrap, flex-end, center);
        gap: 2.5rem;
        transition: 0.2s;
        padding-right: 2rem;
        @include device (movil){
            background-color: rgb(255, 255, 255);
            @include flex (column, nowrap, center, center);
            width: 100%;
            height: 100vh;
            position: absolute;
            top: 0rem;
            left: 0;
            opacity: 0;
            padding-left: 2rem;
            z-index: 3;
            transition: 0.5ss;
            pointer-events: none;
        }
    }
    &__li {
        @include flex (row, nowrap, center, center);
        gap: 3rem;
        @include device (movil){
            position: relative;
            transition-delay: 0.5s;
            transition: 0.2s;
        }
    }
    &__link {
        color: white;
        height: 1rem;
        position: relative;
        overflow: hidden;
        margin-left: 1rem;
        display: block;
        &:hover {
            .link__container {
                animation-name: menuAnim;
                animation-duration: 0.2s;
            }
        }
        @include device (movil) {
            height: 1rem;
            color: black;
        }
    }
    &__hello {
        color: white;
        padding-left: 2rem;
        width: 100px;
    }
    &__svg {
        fill: rgb(255, 255, 255);
        transition: 1s;
    }
    &__burger {
        width: 32px;
        height: 32px;
        display: none;
        position: relative;
        margin-right: 2rem;
        &:before {
            content: '';
            width: 100%;
            height: 2px;
            border-radius: 2px;
            transform-origin: center;
            background-color: #ffffff;
            position: absolute;
            top: 10px;
            left: 0;
            right: 0;
            margin: auto;
            transition: 1s ease;
        }
        &:after {
            content: '';
            width: 100%;
            height: 2px;
            border-radius: 2px;
            transform-origin: center;
            background-color: #ffffff;
            position: absolute;
            bottom: 10px;
            left: 0;
            right: 0;
            margin: auto;
            transition: 0.5s ease;
            
        }
        @include device (movil) {
            display: block;
        }
    }
    &.active {
        position: fixed;
        top: 0;
        left: 0;
        .menu {
            &__burger {
                &:before {
                    transform: rotate(45deg);
                    top:15px;
                    background-color: black;
                }
                &:after {
                    transform: rotate(-45deg) ;
                    bottom: 15px;
                    background-color: black;
                }
            }
            &__ul {
                left: 0;
                opacity: 1;
                pointer-events: all;
                padding-left: 2rem;
            }
            &__svg {
                fill: black;
            }
        }
    }
}

.menu-light {
    .menu {
        background-color: white;
        &__link {
            color: var(--text-primary);
        }
    }
}

.link {
    &__container {
        @include flex (column, nowrap, center,center);
        position: relative;
        top: 0;
    }
    &__text {
        font-size: 1rem;
        line-height: 100%;
        line-height: 100%;
        @include device (movil) {
            font-size: 1rem;
        }
    }
}




// ⬇️ ANIMATIONS ⬇️

@keyframes left-right {
    from {
        transform: translateX(-3rem);
        opacity: 0;
    } to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes right-left {
    from {
        transform: translateX(3rem);
        opacity: 0;
    } to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes opacity {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes fade-top {
    from {
        bottom: -3rem;
        opacity: 0;
    } to {
        bottom: 0;
        opacity: 1;
    }
}


@keyframes menuAnim {
    from { top: 0; }
    to { top: -100%; }
}

@keyframes slideDown{
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0%);
    }
}

