@use 'reset' as *;
@use 'mixins' as *;
@use './common' as *;





// ⬇️ INTRO ⬇️

.intro {
    width: 100%;
    min-height: 100vh;
    background-color: var(--background-primary);
    position: relative;
    @include flex (row, wrap, center, flex-end);
    overflow: hidden;
    &__content {
        @include flex (row, wrap, center, center);
        gap: 4rem;
    }
    &__image {
        margin-top: 8rem;
        max-height: 90vh;
        pointer-events: none;
        position: relative;
        animation: fade 1s ease 1 ;

    }
    &__down {
        position: absolute;
        z-index: 2;
        bottom: 1rem;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        @include flex (column, nowrap, center, center);
        gap: 1rem;
    }
    &__spiral {
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: center;
        animation: spiralLoop 4s linear infinite;
    }
}

.down {
    &__comment {
        color: rgb(255, 255, 255);
        font-size: 1rem;
        transition: 0.2s;
        animation: opacityInt 2s infinite ease-in-out;
    }
    &__chevron {
        width: 24px;
        height: 24px;
        transition: 0.2s;
        animation: opacityInt 2s infinite ease-in-out;
    }
}

@keyframes spiralLoop {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(180deg) scale(1.3);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}

@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes opacityInt {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


// ⬇️ ABOUT ⬇️

.about {
    width: 100%;
    padding: 15rem 0 7rem 0;
    @include flex (row, wrap, flex-start, center);
    @include device (movil){
        padding: 7rem 0 3.5rem 0;
    }
    &__content {
        @include flex (column, wrap, center, flex-start);
        text-align: center;
        margin: 0 auto;
        width: 50%;
        max-width: 650px;
        @include device (movil) {
            width: 100%;
        }
    }
    &__title {
        color: grey;
        margin-bottom: 1rem;
        text-align: left;
        position: relative;
        left: 3rem;
        transition: 1s;
    }
    &__p {
        text-align: left;
        position: relative;
        left: -3rem;
        transition: 0.5s;
    }
    &.active {
        .about {
            &__title {
                left: 0;
            }
            &__p {
                left: 0;
            }
        }
    }
}


// ⬇️ GALLERY ⬇️

.gallery {
    opacity: 0;
    width: 100%;
    padding: 10rem 0;
    transition: 1s;
    @include device (movil){
        padding: 5rem 0;
    }
    &__content {
        @include flex (column, nowrap, center, center);
        position: relative;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        grid-auto-rows: 300px;
        position: relative;
        @include device (tablet){
            grid-template-columns: repeat(1, 1fr);
            grid-auto-rows: 400px;
        }
    }
    &__container {
        @include flex (column, nowrap, center, center);
        position: relative;
        gap: 2rem;
    }
    &__item {
        position: relative;
        top: 0;
        right: 0;
        overflow: hidden;
        transition-delay: 0.2s;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @include flex (column, nowrap, center, center);
            background-color: #16191c95;
            color: white;
            pointer-events: none;
            opacity: 0;
            transition: 0.5s;
        }
        &:hover {
            .gallery__img{
                transform: scale(1.2);
            }
            &:after {
                opacity: 1;
            }
        }
        &:nth-child(1) {
            grid-row-start: span 2;
            &:after {
                content: 'Icon set and Guidelines';
            }
            @include device (tablet){
                grid-row-start: span 1;
            }
        }
        &:nth-child(2) {
            background-color:#ADD1D3;
            &:after {
                content: 'Underground App';
            }
        }
        &:nth-child(3) {
            background-color:#f2f3f6;
            &:after {
                content: 'Google Copycat';
            }
        }
        &:nth-child(4) {
            &:after {
                content: 'Notnoise Studio';
            }
        }
        &:nth-child(5) {
            &:after {
                content: 'Pink Floyd Illustrations';
            }
        }
        &:nth-child(6) {
            &:after {
                content: 'Sulcus Band';
            }
        }
        &:nth-child(6) {
            grid-column-start: span 2;
            &:after {
                content: 'Sulcus Band';
            }
            @include device (tablet){
                grid-column-start: span 1;
            }
        }

    }
    &__button {
        margin-top: 5rem;
    }
    &__img {
        height: 100%;
        object-fit: cover;
        position: relative;
        transition: 0.5s;
    }
    &__title {
        color: grey;
        display: block;
        position: absolute;
        transform: rotate(-90deg);
        transform-origin: top left;
        bottom: 0rem;
        left: -4rem;
        transition: bottom 2s;
        @include device (laptop){
            position: relative;
            top: 0;
            left: 0;
            transform: rotate(0);
        }
    }
    &.active {
        opacity: 1;
        .gallery {
            &__item {
                &:nth-child(1) {
                    animation: left-right 1s ease 1;
                }
                &:nth-child(2) {
                    animation: right-left 1s ease 1;
                }
                &:nth-child(3) {
                    animation: right-left 1s ease 1;
                }
                &:nth-child(4) {
                    animation: left-right 1s ease 1;
                }
                &:nth-child(5) {
                    animation: right-left 1s ease 1;
                }
                &:nth-child(6) {
                    animation: opacity 1s ease 1;
                }
        
            }
            &__button {
                animation: opacity 1s ease 1;
            }
        }
    }

}




// ⬇️ EXPERIENCE ⬇️

.experience {
    width: 100%;
    padding-bottom: 15rem ;
    @include flex (column, wrap, center, center);
    @include device (movil){
        padding-bottom: 7.5rem;
    }
    &__content {
        @include flex (row,nowrap, center, flex-start);
        gap: 2rem;
        position: relative;
        @include device (laptop){
            @include flex (column, nowrap, center, center);
        }
    }
    &__col {
        @include flex (column, wrap, flex-start, center);
        flex: 1;
        @include device (movil){
            width: 100%;
            align-items: flex-start;
        }
    }
    &__icon {
        width: 32px;
        margin-bottom: 1.5rem;
        opacity: 0;
        transition: 0.5s;
    }
    &__title {
        margin-top: 0.5rem;
        color: grey;
        margin-bottom: 1rem;
        position: relative;
        opacity: 0;
        transition: 1s;
    }
    &__li {
        font-size: 1rem;
        text-align: center;
        position: relative;
        opacity: 0;
        transition: 1s;
        @include device (tablet){
            text-align: left;
        }
    }
    &__button {
        margin-top: 5rem;
    }
    &__container {
        width: 100%;
        @include flex (column, wrap, center, center);
    }
    &.active {
        .experience {
            &__title {
                opacity: 1;
            }
            &__li {
                opacity: 1;
            }
            &__icon {
                opacity: 1;
            }
            &__button {
                animation: opacity 1s ease 1;
            }
        }
    }
}





// ⬇️ SOCIAL ⬇️

.social {
    width: 100%;
    @include flex (row, nowrap, center, center);
    padding-bottom: 5rem;
    position: relative;
    margin: auto;
    &__content {
        @include flex (row, nowrap, center, center);
        gap: 4rem;
        margin: 0 auto;
        width: 90%;
        max-width: 1500px;
        padding-top: 2rem;
        position: relative;
    }
    &__ul {
        @include flex (row, nowrap, space-between, center);
        gap: 2rem;
    }
    &__link {
        background-color: #16191C;
        padding: 2rem;
        opacity: 0;
        transition: 0.2s;
        &:hover{
            background-color: #64babf;
            transform: scale(1.1);
        }
    }
    &__icon {
        width: 32px;
        height: 32px;
    }
    &__content {
        @include flex (row, nowrap, center, center);
        gap: 4rem;
        padding: 2rem 0;
        position: relative;
        @include device (laptop){
            @include flex (column-reverse, nowrap, center, center);
        }
    }
    &__location {
        display: inline-block;
        position: absolute;
        left: -3rem;
        opacity: 0;
        bottom: 2rem;
        transition: 1s;
        @include device (laptop){
            position: relative;
        }
    }
    &__mail {
        display: inline-block;
        position: absolute;
        right: -3rem;
        opacity: 0;
        bottom: 2rem;
        font-weight: bold;
        transition: right 1s, opacity 1s;
        color: #309ba0;
        &:hover {
            color: #17686c;
        }
        @include device (laptop){
            position: relative;
        }
    }
    &.active {
        .social {
            &__location {
                left: 0;
                opacity: 1;
            }
            &__mail {
                right: 0;
                opacity: 1;
            }
            &__link {
                opacity: 1;
            }
        }
        
    }

}



