@use 'reset' as *;
@use 'mixins' as *;
@use './common' as *;


// ⬇️ PROJECTS MENU ⬇️

.projects-menu {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.813);
    padding: 2rem 0;
    border: 1px solid #00000017;
    &__content {
        margin: 0 auto;
        width: 70%;
        max-width: 1000px;
        @include flex (row, nowrap, center, center);
    }
    &__list {
        @include flex (row, wrap, center, center);
        gap: 2rem;
    }
}


// ⬇️ GENERAL ⬇️

.project {
    &__header {
        padding-top: 3rem;
        text-align: center;
    }
    &__learned {
        padding-bottom: 5rem;
    }
    &__comment {
        font-size: 0.875rem;
        font-style: italic;
    }
    &__section {
        @include flex (column, nowrap, center, center);
        text-align: center;
        animation: fade-top 0.5s ease 1;
    }
    &__container {
        @include flex (column, nowrap, center, center);
        gap: 2rem;
        padding: 4rem 0;
        @include device (movil){
            padding: 2rem 1rem;
        }
    }
    &__table {
        @include flex (row, nowrap, center, flex-start);
        gap: 3rem;
    }
    &__grid {
        @include grid ( 2, 3rem);
    }
    &__icon {
        width: 32px;
        height: 32px;
    }
    &__icon-large {
        width: 45px;
        height: 32px;
    }
    &__li {
        @include flex (row, nowrap, center, center);
        gap: 2rem;
    }
    &__p {
        @include device (movil){
            text-align: left
        }
    }
    &__subtitle {
        @include device (movil){
            text-align: left
        }
    }
}


// 👉🏻 Tables, rows, columns 

.table {
    &__col {
        @include flex (column, nowrap, center, center);
        gap: 2rem;
        flex: 1;
    }
    &__categories {
        gap: 4rem;
    }
}



// 👉🏻 Special for Icons Project

.guidelines {
    &__table {
        padding: 2rem;
        background-color: #F5F6F8;
    }
}
.workflow {
    &__media {
        max-width: 10rem;
    }
}
.live {
    &__grid {
        align-content: center;
        padding: 2rem;
        background-color: #ADD1D3;
        @include grid (3, 2rem);

    }
}


// 👉🏻 Special for Underground App


.underground {
    &__nav-img {
        margin-top: 4rem;
    }
    &__main {
        background-color: #ADD1D3;
    }
    &__users {
        @include flex (column, nowrap, center, center);
        gap: 0.5;
    }
}
























