@use 'reset' as *;
@use 'mixins' as *;
@use './common' as *;


// ⬇️ PROJECTS MENU ⬇️

.projects-menu {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.813);
    padding: 2rem 0;
    border: 1px solid #00000017;
    &__content {
        margin: 0 auto;
        width: 70%;
        max-width: 1000px;
        @include flex (row, nowrap, center, center);
    }
    &__list {
        @include flex (row, wrap, center, center);
        gap: 2rem;
    }
}


// ⬇️ GENERAL ⬇️

.project {
    &__header {
        padding-top: 3rem;
        text-align: center;
    }
    &__learned {
        padding-bottom: 5rem;
    }
    &__comment {
        font-size: 0.875rem;
        font-style: italic;
    }
    &__section {
        @include flex (column, nowrap, center, center);
        text-align: center;
        animation: fade-top 0.5s ease 1;
    }
    &__container {
        @include flex (column, nowrap, center, center);
        gap: 2rem;
        padding: 4rem 0;
        @include device (movil){
            padding: 2rem 1rem;
        }
    }
    &__table {
        @include flex (row, nowrap, center, flex-start);
        gap: 3rem;
    }
    &__grid {
        @include grid ( 2, 3rem);
        @include device (movil){
            @include grid (2, 1rem)
        }
    }
    &__icon {
        width: 32px;
        height: 32px;
    }
    &__icon-large {
        width: 45px;
        height: 32px;
    }
    &__li {
        @include flex (row, nowrap, center, center);
        gap: 2rem;
    }
    &__p {
        @include device (movil){
            text-align: left
        }
    }
    &__subtitle {
        @include device (movil){
            text-align: left
        }
    }
}


// 👉🏻 Tables, rows, columns 

.table {
    &__col {
        @include flex (column, nowrap, center, center);
        gap: 2rem;
        flex: 1;
    }
    &__categories {
        gap: 4rem;
    }
}



// 👉🏻 Special for Icons Project

.icons {
    .guidelines {
        &__table {
            padding: 2rem;
            background-color: #F5F6F8;
        }
    }
    .workflow {
        &__media {
            max-width: 10rem;
        }
    }
    &__live {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ADD1D3;
    }
    .live {
        &__grid {
            padding: 4rem;
            // @include grid ( 3, 2rem);
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 4rem;
        }
        &__li {
            max-width: 100px;
        }
    }
    &__col {
        align-items: flex-start;
    }
}


// 👉🏻 Special for Underground App


.underground {
    &__nav-img {
        margin-top: 4rem;
    }
    &__users {
        @include flex (column, nowrap, center, center);
        gap: 0.5;
    }
    .survey {
        &__img {
            padding-bottom: 2rem;
        }
    }
}


// 👉🏻 Special for Miniver

.miniver {
    &__grid {
        .grid {
            &__item {
                &:first-of-type {
                    grid-row: span 2;
                    background-color: blue;
                    img {
                        height: 100%;
                    }
                }
                &:nth-of-type(3) {
                    grid-row-start: 2;
                    grid-column-start: 2;
                }
            }
        }
    }
}

// ⬇️ galleryexp ⬇️

.galleryexp {
    overflow-x: hidden;
    padding: 10rem 0;
    opacity: 1;
    animation-name: fadein;
    animation-duration: 1s;
    @include device (movil){
        padding: 5rem 0;
    }
    &__content {
        @include flex (column, nowrap, center, center);
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        grid-auto-rows: 300px;
        position: relative;
        @include device (tablet){
            grid-template-columns: repeat(1, 1fr);
            grid-auto-rows: 200px;
        }
    }
    &__container {
        @include flex (column, nowrap, center, center);
        position: relative;
        gap: 2rem;
    }
    &__button {
        margin-top: 5rem;
        @include device (movil){
            margin-top: 2rem;
        }
    }
    &__img {
        height: 100%;
        object-fit: cover;
        position: relative;
        transition: 0.5s;
    }
    &__title {
        color: grey;
        display: block;
        position: absolute;
        transform: rotate(-90deg);
        transform-origin: top left;
        bottom: 0rem;
        left: -4rem;
        transition: bottom 2s;
        @include device (laptop){
            position: relative;
            top: 0;
            left: 0;
            transform: rotate(0);
        }
    }
    &__item {
        position: relative;
        top: 0;
        right: 0;
        overflow: hidden;
        transition: opacity 1s;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            @include flex (column, nowrap, center, center);
            background-color: #16191c95;
            color: white;
            pointer-events: none;
            opacity: 0;
            transition: 0.5s;
        }
        &:hover {
            .galleryexp__img{
                transform: scale(1.2);
            }
            &:after {
                opacity: 1;
            }
        }
        &:nth-child(1) {
            grid-row-start: span 2;
            &:after {
                content: 'Icon set and Guidelines - Figma Resource';
            }
            @include device (tablet){
                grid-row-start: span 1;
            }
        }
        &:nth-child(2) {
            background-color:#ADD1D3;
            &:after {
                content: 'Underground App - Personal Case Study';
            }
            
            img {
                object-fit: contain;
                color: green;
            }
        }
        &:nth-child(3) {
            background-color:#f2f3f6;
            &:after {
                content: 'Ethereum Code Copycat (ReactJS) - Personal';
            }
            
            img {
                object-fit: contain;
            }
        }
        &:nth-child(4) {
            &:after {
                content: 'Notnoise Studio - My Design Studio for Musicians';
            }
        }
        &:nth-child(5) {
            &:after {
                content: 'Pink Floyd (Illustrations) - Personal';
            }
        }
        
        &:nth-child(6) {
            grid-column-start: span 1;
            &:after {
                content: 'Sulcus Band (Graphic and motion design) - Professional';
            }
            @include device (tablet){
                grid-column-start: span 1;
            }
        }
        &:nth-child(7) {
            background-color: #1B272C;
            &:after {
                content: 'Freelance Music Projects - Professional';
            }
            img {
                object-fit: contain;
            }
        }
        &:nth-child(8) {
            background-color: #adbcd3;
            &:after {
                content: 'Instagram UI kit - Figma Resource';
            }
            img {
                object-fit: contain;
            }
        }

    }

    &.active {
        .galleryexp {
            &__button {
                animation: opacity 1s ease 1 both;
            }
        }
    }

}

@keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }




























