:root{
  --background-primary: #16171b;
  --button-primary:#16171b;
  --text-primary: #16171b;
  --white: #FFFFFF;
  --grey10: #f2f3f6;
  --transparent10: #16171b5f;
  --font-primary: 'Open Sans', sans-serif;
  --font-secondary: 'Noto Sans', sans-serif;
}
  

  @media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
  }
  
  /* Reseteamos los margin y paddings de todas las etiquetas */
  * {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    // cursor: none;
  
  }
  
  /* Evitamos problemas con las imagenes */
  img , picture , video , iframe , figure{
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;        
    object-position: center center;
  }
  
  /* Reseteamos los enlaces para funcionar como cajas... */
  a {
    display: block;
    text-decoration: none;
    color:inherit;
    font-size:inherit;
  }
  /* ... excepto los que se encuentran en párrafos */
  p a {
    display: inline;
  }
  
  /* Quitamos los puntos de los <li> */
  li {
    list-style-type: none;
  }
  
  /* Configuramos anclas suaves */
  html {
    scroll-behavior: smooth;
  }
  
  /* Desactivamos estilos por defecto de las principales etiquetas de texto */
  h1 , h2 , h3 , h4 , h5 , h6 , p ,span , a , strong , blockquote , i , b , u , em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color:inherit;
  }
  /* Evitamos problemas con los pseudoelementos de quotes */
  blockquote:before, blockquote:after, q:before, q:after {
      content: '';
      content: none;
  }
  
  /* Configuramos el texto que seleccionamos */
  ::selection {
    background-color: var(--background-primary);
    color: var(--blanco);
  }
  
  /* Nivelamos problemas de tipografías y colocación de formularios */
  form , input, textarea, select , button , label{
      font-family: inherit;
      font-size: inherit;
      hyphens: auto;
      background-color: transparent;
      color:inherit;
      display: block;
      appearance: none;
  }
  
  /* Reseteamos las tablas */
  table , tr , td {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  /* Evitamos problemas con los SVG */
  svg{
      width: 100%;
      display: block;
      fill: currentColor;
  }

  /* Configuramos la tipografía para toda la web */
  body {
    min-height  : 100vh;
    font-size   : 100%;
    font-family : var(--font-primary);
    color       : var(--text-primary);
    background  : var(--white);
    line-height: 230%;
    hyphens: auto;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-break: keep-all;
  }