@charset "UTF-8";
:root {
  --background-primary: #16171b;
  --button-primary:#16171b;
  --text-primary: #16171b;
  --white: #FFFFFF;
  --grey10: #f2f3f6;
  --transparent10: #16171b5f;
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Noto Sans", sans-serif;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--background-primary);
  color: var(--blanco);
}
::selection {
  background-color: var(--background-primary);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--font-primary);
  color: var(--text-primary);
  background: var(--white);
  line-height: 230%;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: keep-all;
}

h2 {
  font-family: var(--font-secondary);
  font-size: 2rem;
  font-weight: bold;
  line-height: 150%;
}

h3 {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 600;
}

p {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 400;
  line-height: 230%;
}
p b {
  font-weight: bold;
}

.wrapper__menu {
  margin: 0 auto;
  width: 100%;
}
.wrapper__header {
  margin: 0 auto;
  width: 70%;
  max-width: 1500px;
}
.wrapper__default {
  margin: 0 auto;
  width: 65%;
  max-width: 1000px;
}
@media (max-width: 900px) {
  .wrapper__default {
    width: 75%;
  }
}
@media (max-width: 560px) {
  .wrapper__default {
    width: 100%;
    padding: 0 2rem;
  }
}
.wrapper__min {
  margin: 0 auto;
  width: 55%;
  max-width: 800px;
}
.wrapper__inside {
  margin: 0 auto;
  width: 85%;
  max-width: 800px;
}
@media (max-width: 900px) {
  .wrapper__inside {
    width: 90%;
  }
}
@media (max-width: 560px) {
  .wrapper__inside {
    width: 100%;
  }
}

.caption {
  font-family: var(--font-secondary);
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
}

.button {
  font-weight: bold;
  color: #309ba0;
}
.button:hover {
  color: #17686c;
}

.mouse {
  pointer-events: none;
  z-index: 6;
  position: fixed;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-top: -6px;
  margin-left: -6px;
  background-color: var(--white);
  mix-blend-mode: difference;
  -webkit-transform: translateY(-30px) translateX(-30px);
          transform: translateY(-30px) translateX(-30px);
  -webkit-transition: width 0.4s, height 0.4s, margin-top 0.4s, margin-left 0.4s;
  transition: width 0.4s, height 0.4s, margin-top 0.4s, margin-left 0.4s;
  -webkit-animation: opacity 0.5s ease 1;
          animation: opacity 0.5s ease 1;
}
.mouse.scale {
  width: 32px;
  height: 32px;
  margin-top: -16px;
  margin-left: -16px;
}
@media (pointer: none) {
  .mouse {
    display: none;
  }
}

.menu {
  width: 100%;
  position: fixed;
  top: 0rem;
  left: 0;
  z-index: 4;
  padding: 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(163, 94, 94, 0);
  -webkit-transition: top 1s;
  transition: top 1s;
}
@media (max-width: 560px) {
  .menu {
    background-color: white;
    padding: 1rem 0;
  }
}
.menu.slidedown {
  -webkit-animation: slideDown 1s ease 1;
          animation: slideDown 1s ease 1;
}
.menu.light {
  background-color: white;
}
.menu.light .menu__link {
  color: black;
}
.menu.light .menu__svg {
  fill: black;
}
.menu.light .menu__burger:before {
  background-color: #000000;
}
.menu.light .menu__burger:after {
  background-color: #000000;
}
@media (max-width: 560px) {
  .menu.light {
    background-color: white;
  }
}
.menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 560px) {
  .menu__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.menu__container-movil {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding-right: 2rem;
}
@media (max-width: 560px) {
  .menu__ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100vh;
    display: none;
    pointer-events: none;
  }
}
.menu__ul.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  pointer-events: all;
}
.menu__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}
.menu__link {
  color: white;
  height: 1rem;
  position: relative;
  overflow: hidden;
  margin-left: 1rem;
  display: block;
}
.menu__link:hover .link__container {
  -webkit-animation-name: menuAnim;
          animation-name: menuAnim;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}
@media (max-width: 560px) {
  .menu__link {
    color: black;
    height: 1rem;
  }
}
.menu__hello {
  color: white;
  padding-left: 2rem;
}
@media (max-width: 560px) {
  .menu__hello {
    color: black;
  }
}
.menu__svg {
  fill: rgb(255, 255, 255);
}
@media (max-width: 560px) {
  .menu__svg {
    fill: rgb(0, 0, 0);
  }
}
.menu__burger {
  width: 32px;
  height: 32px;
  display: none;
  position: relative;
  margin-right: 2rem;
}
.menu__burger:before {
  content: "";
  width: 100%;
  height: 2px;
  -webkit-transform-origin: center;
          transform-origin: center;
  background-color: #ffffff;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
@media (max-width: 560px) {
  .menu__burger:before {
    background-color: black;
  }
}
.menu__burger:after {
  content: "";
  width: 100%;
  height: 2px;
  -webkit-transform-origin: center;
          transform-origin: center;
  background-color: #ffffff;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
@media (max-width: 560px) {
  .menu__burger:after {
    background-color: black;
  }
}
@media (max-width: 560px) {
  .menu__burger {
    display: block;
  }
}
.menu__burger.active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 15px;
}
.menu__burger.active:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 15px;
}

.menu-light .menu {
  background-color: white;
}
.menu-light .menu__link {
  color: var(--text-primary);
}

.link__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 0;
}
.link__text {
  font-size: 1rem;
  line-height: 100%;
  line-height: 100%;
}
@media (max-width: 560px) {
  .link__text {
    font-size: 1rem;
  }
}

@-webkit-keyframes left-right {
  from {
    left: -3rem;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes left-right {
  from {
    left: -3rem;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes right-left {
  from {
    right: -3rem;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
@keyframes right-left {
  from {
    right: -3rem;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-top {
  from {
    bottom: -3rem;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes fade-top {
  from {
    bottom: -3rem;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@-webkit-keyframes menuAnim {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}
@keyframes menuAnim {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}
@-webkit-keyframes slideDown {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes slideDown {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
.intro {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-primary);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
}
.intro__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
}
.intro__image {
  margin-top: 8rem;
  min-width: 200px;
  max-width: 500px;
  pointer-events: none;
  position: relative;
  top: 3rem;
  -webkit-animation: fade 1s ease 1;
          animation: fade 1s ease 1;
}
.intro__down {
  position: absolute;
  z-index: 2;
  bottom: 1rem;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.intro__spiral {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: spiralLoop 4s linear infinite;
          animation: spiralLoop 4s linear infinite;
}

.down__comment {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-animation: opacityInt 2s infinite ease-in-out;
          animation: opacityInt 2s infinite ease-in-out;
}
.down__chevron {
  width: 24px;
  height: 24px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-animation: opacityInt 2s infinite ease-in-out;
          animation: opacityInt 2s infinite ease-in-out;
}

@-webkit-keyframes spiralLoop {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(1.3);
            transform: rotate(180deg) scale(1.3);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

@keyframes spiralLoop {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(1.3);
            transform: rotate(180deg) scale(1.3);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}
@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes opacityInt {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes opacityInt {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.about {
  width: 100%;
  padding: 15rem 0 7rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 560px) {
  .about {
    padding: 7rem 0 3.5rem 0;
  }
}
.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: center;
  margin: 0 auto;
  width: 50%;
  max-width: 650px;
}
@media (max-width: 560px) {
  .about__content {
    width: 100%;
  }
}
.about__title {
  color: grey;
  margin-bottom: 1rem;
  text-align: left;
  position: relative;
  left: 3rem;
  -webkit-transition: 1s;
  transition: 1s;
}
.about__p {
  text-align: left;
  position: relative;
  left: -3rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.about.active .about__title {
  left: 0;
}
.about.active .about__p {
  left: 0;
}

.gallery {
  opacity: 0;
  width: 100%;
  padding: 10rem 0;
  -webkit-transition: 1s;
  transition: 1s;
}
@media (max-width: 560px) {
  .gallery {
    padding: 5rem 0;
  }
}
.gallery__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.gallery__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  grid-auto-rows: 300px;
  position: relative;
}
@media (max-width: 900px) {
  .gallery__grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 400px;
  }
}
.gallery__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  gap: 2rem;
}
.gallery__item {
  position: relative;
  top: 0;
  right: 0;
  overflow: hidden;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.gallery__item:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(22, 25, 28, 0.5843137255);
  color: white;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.gallery__item:hover .gallery__img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.gallery__item:hover:after {
  opacity: 1;
}
.gallery__item:nth-child(1) {
  grid-row-start: span 2;
}
.gallery__item:nth-child(1):after {
  content: "Icon set and Guidelines";
}
@media (max-width: 900px) {
  .gallery__item:nth-child(1) {
    grid-row-start: span 1;
  }
}
.gallery__item:nth-child(2) {
  background-color: #ADD1D3;
}
.gallery__item:nth-child(2):after {
  content: "Underground App";
}
.gallery__item:nth-child(3) {
  background-color: #f2f3f6;
}
.gallery__item:nth-child(3):after {
  content: "Google Copycat";
}
.gallery__item:nth-child(4):after {
  content: "Notnoise Studio";
}
.gallery__item:nth-child(5):after {
  content: "Pink Floyd Illustrations";
}
.gallery__item:nth-child(6):after {
  content: "Sulcus Band";
}
.gallery__item:nth-child(6) {
  grid-column-start: span 2;
}
.gallery__item:nth-child(6):after {
  content: "Sulcus Band";
}
@media (max-width: 900px) {
  .gallery__item:nth-child(6) {
    grid-column-start: span 1;
  }
}
.gallery__button {
  margin-top: 5rem;
}
.gallery__img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.gallery__title {
  color: grey;
  display: block;
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  bottom: 0rem;
  left: -4rem;
  -webkit-transition: bottom 2s;
  transition: bottom 2s;
}
@media (max-width: 1200px) {
  .gallery__title {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
.gallery.active {
  opacity: 1;
}
.gallery.active .gallery__item:nth-child(1) {
  -webkit-animation: left-right 1s ease 1;
          animation: left-right 1s ease 1;
}
.gallery.active .gallery__item:nth-child(2) {
  -webkit-animation: right-left 1s ease 1;
          animation: right-left 1s ease 1;
}
.gallery.active .gallery__item:nth-child(3) {
  -webkit-animation: right-left 1s ease 1;
          animation: right-left 1s ease 1;
}
.gallery.active .gallery__item:nth-child(4) {
  -webkit-animation: left-right 1s ease 1;
          animation: left-right 1s ease 1;
}
.gallery.active .gallery__item:nth-child(5) {
  -webkit-animation: right-left 1s ease 1;
          animation: right-left 1s ease 1;
}
.gallery.active .gallery__item:nth-child(6) {
  -webkit-animation: opacity 1s ease 1;
          animation: opacity 1s ease 1;
}
.gallery.active .gallery__button {
  -webkit-animation: opacity 1s ease 1;
          animation: opacity 1s ease 1;
}

.experience {
  width: 100%;
  padding-bottom: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 560px) {
  .experience {
    padding-bottom: 7.5rem;
  }
}
.experience__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
  position: relative;
}
@media (max-width: 1200px) {
  .experience__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.experience__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media (max-width: 560px) {
  .experience__col {
    width: 100%;
  }
}
.experience__icon {
  width: 32px;
  margin-bottom: 1.5rem;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.experience__title {
  margin-top: 0.5rem;
  color: grey;
  margin-bottom: 1rem;
  position: relative;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}
.experience__li {
  font-size: 1rem;
  text-align: center;
  position: relative;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}
.experience__button {
  margin-top: 5rem;
}
.experience__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.experience.active .experience__title {
  opacity: 1;
}
.experience.active .experience__li {
  opacity: 1;
}
.experience.active .experience__icon {
  opacity: 1;
}
.experience.active .experience__button {
  -webkit-animation: opacity 1s ease 1;
          animation: opacity 1s ease 1;
}

.social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5rem;
  position: relative;
  margin: auto;
}
.social__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
  margin: 0 auto;
  width: 90%;
  max-width: 1500px;
  padding-top: 2rem;
  position: relative;
}
.social__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
.social__link {
  background-color: #16191C;
  padding: 2rem;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.social__link:hover {
  background-color: #64babf;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.social__icon {
  width: 32px;
  height: 32px;
}
.social__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
  padding: 2rem 0;
  position: relative;
}
@media (max-width: 1200px) {
  .social__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse nowrap;
            flex-flow: column-reverse nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.social__location {
  display: inline-block;
  position: absolute;
  left: -3rem;
  opacity: 0;
  bottom: 2rem;
  -webkit-transition: 1s;
  transition: 1s;
}
@media (max-width: 1200px) {
  .social__location {
    position: relative;
  }
}
.social__mail {
  display: inline-block;
  position: absolute;
  right: -3rem;
  opacity: 0;
  bottom: 2rem;
  font-weight: bold;
  -webkit-transition: right 1s, opacity 1s;
  transition: right 1s, opacity 1s;
  color: #309ba0;
}
.social__mail:hover {
  color: #17686c;
}
@media (max-width: 1200px) {
  .social__mail {
    position: relative;
  }
}
.social.active .social__location {
  left: 0;
  opacity: 1;
}
.social.active .social__mail {
  right: 0;
  opacity: 1;
}
.social.active .social__link {
  opacity: 1;
}

.projects-menu {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.813);
  padding: 2rem 0;
  border: 1px solid rgba(0, 0, 0, 0.0901960784);
}
.projects-menu__content {
  margin: 0 auto;
  width: 70%;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.project__header {
  padding-top: 3rem;
  text-align: center;
}
.project__learned {
  padding-bottom: 5rem;
}
.project__comment {
  font-size: 0.875rem;
  font-style: italic;
}
.project__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-animation: fade-top 0.5s ease 1;
          animation: fade-top 0.5s ease 1;
}
.project__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  padding: 4rem 0;
}
@media (max-width: 560px) {
  .project__container {
    padding: 4rem 2rem;
  }
}
.project__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 3rem;
}
.project__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
}
.project__icon {
  width: 32px;
  height: 32px;
}
.project__icon-large {
  width: 45px;
  height: 32px;
}
.project__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.table__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.table__categories {
  gap: 4rem;
}

.guidelines__table {
  padding: 2rem;
  background-color: #F5F6F8;
}

.workflow__media {
  max-width: 10rem;
}

.live__grid {
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 2rem;
  background-color: #ADD1D3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.underground__nav-img {
  margin-top: 4rem;
}
.underground__main {
  background-color: #ADD1D3;
}
.underground__users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5;
}